// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mp-vote-radio {
  margin: 5px 0;
  width: 360px;

  & input {
    display: none;

    &:checked + label {

      & .mp-vote {
        border-color: var(--color-primary);
      }
    }
  }

  & .mp-vote {
    display: flex;
    flex-direction: row;
    border: solid 2px var(--color-background-base);
    cursor: pointer;    
    background: var(--color-background-base);
    border-radius: var(--border-radius-default);
    padding: 8px;
    outline: none;
    font-family: var(--font-family-default);
    align-items: center;
    flex: 1;

    & * {
      user-select: none;
    }
  
    & figure {
      width: 60px;
      height: 60px;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      margin: auto 10px auto 0;
      border-radius: 50%;
      flex: none;
      position: relative;
  
      & img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
      }
    }
  
    & span.gmap-item-name {
      text-align: center;
      font-weight: 800;
      text-transform: uppercase;
      font-size: var(--font-size-small-1);
      margin-bottom: 8px;
      color: var(--color-text-default);
    }
  
    & span.gmap-item-rating {
      width: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      flex: none;
      color: var(--color-gold);
      font-size: var(--font-size-small-2);
      font-weight: 800;
      padding: 5px 0;
      background: var(--color-background-alt);
      border-radius: var(--border-radius-default);
      margin-right: 10px;
  
      & i {
        margin-bottom: 3px;
      }
    }
  
    & span.gmap-item-address {
      font-size: var(--font-size-small-1);
      color: var(--color-text-alt);
      text-align: left;
      font-weight: 800;
      display: flex;
      align-items: center;
    }
  }
}

.mp-vote-score {
  margin-top: 2px;
  height: 15px;
  background: var(--color-background-base);
  border-radius: var(--border-radius-default);
  position: relative;
  overflow: hidden;
  z-index: 0;
 
  & .mp-vote-score-progress {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-primary);
    border-radius: var(--border-radius-default);
    z-index: 1;
  }

  & span {
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    line-height: 15px;
    font-weight: 800;
    text-shadow: 0 0 3px black;
    font-size: var(--font-size-small-1);
  }
}