@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
}